In [13]:
import pandas as pd
sales_data = {
    'SaleID': [1, 2, 3, 4],
    'CustomerID': [101, 102, 103, 104],
    'Amount': [250, 400, 150, 300]
}
sales_df = pd.DataFrame(sales_data)
customer_data = {
    'CustomerID': [101, 102, 103, 104],
    'CustomerName': ['Ant', 'Bat', 'Cat', 'Dog'],
    'Age': [2, 9, 15, 5],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
customer_df = pd.DataFrame(customer_data)
print("Sales DataFrame:")
print(sales_df)
print("\nCustomer DataFrame:")
print(customer_df)

Sales DataFrame:
   SaleID  CustomerID  Amount
0       1         101     250
1       2         102     400
2       3         103     150
3       4         104     300

Customer DataFrame:
   CustomerID CustomerName  Age         City
0         101          Ant    2     New York
1         102          Bat    9  Los Angeles
2         103          Cat   15      Chicago
3         104          Dog    5      Houston

In [21]:
merged_df = pd.merge(sales_df, customer_df, on='CustomerID', how='inner')
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   SaleID  CustomerID  Amount CustomerName  Age         City
0       1         101     250          Ant    2     New York
1       2         102     400          Bat    9  Los Angeles
2       3         103     150          Cat   15      Chicago
3       4         104     300          Dog    5      Houston

In [25]:
merged_df = pd.merge(sales_df, customer_df, on='CustomerID', how='outer') 
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   SaleID  CustomerID  Amount CustomerName  Age         City
0       1         101     250          Ant    2     New York
1       2         102     400          Bat    9  Los Angeles
2       3         103     150          Cat   15      Chicago
3       4         104     300          Dog    5      Houston

In [29]:
merged_df = pd.merge(sales_df, customer_df, on='CustomerID', how='right')
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   SaleID  CustomerID  Amount CustomerName  Age         City
0       1         101     250          Ant    2     New York
1       2         102     400          Bat    9  Los Angeles
2       3         103     150          Cat   15      Chicago
3       4         104     300          Dog    5      Houston

In [27]:
merged_df = pd.merge(sales_df, customer_df, on='CustomerID', how='left')
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   SaleID  CustomerID  Amount CustomerName  Age         City
0       1         101     250          Ant    2     New York
1       2         102     400          Bat    9  Los Angeles
2       3         103     150          Cat   15      Chicago
3       4         104     300          Dog    5      Houston