Assignment-1 Filtering Data Based on Conditions

Filter out all rows where the Transaction_Amount is greater than 2000.
Find all rows where the Transaction_Type is "Loan Payment" and the Account_Balance is greater than 5000.
Extract transactions made in the "Uptown" branch.

In [67]:
filtered_transaction_amount = banking_data[banking_data['Transaction_Amount'] <= 2000]
print(filtered_transaction_amount)

          Date       Account_Type    Branch Transaction_Type  \
0   2023-01-19      Fixed Deposit   Central     Loan Payment
1   2023-01-16            Current    Uptown       Withdrawal
3   2023-01-18            Savings    Uptown     Loan Payment
6   2023-01-04  Recurring Deposit   Central   Service Charge
9   2023-01-11      Fixed Deposit  Downtown          Deposit
10  2023-01-13  Recurring Deposit   Central          Deposit
11  2023-01-08      Fixed Deposit  Suburban   Service Charge
12  2023-01-15      Fixed Deposit    Uptown   Service Charge
18  2023-01-12  Recurring Deposit  Suburban   Service Charge

    Transaction_Amount  Account_Balance
0               985.51          6839.59
1               641.43          8908.39
3              1914.60          5776.63
6              1621.82          6465.79
9              1529.59          2592.16
10              846.41          6443.14
11             1803.88          6560.58
12             1225.50          4224.47
18             1339.57          8666.74

In [69]:
loan_payment_high_balance = banking_data[(banking_data['Transaction_Type'] == 'Loan Payment') & 
                                          (banking_data['Account_Balance'] > 5000)]

print(loan_payment_high_balance)

          Date       Account_Type   Branch Transaction_Type  \
0   2023-01-19      Fixed Deposit  Central     Loan Payment
2   2023-01-10            Current   Uptown     Loan Payment
3   2023-01-18            Savings   Uptown     Loan Payment
7   2023-01-09            Current  Central     Loan Payment
13  2023-01-05  Recurring Deposit  Central     Loan Payment
17  2023-01-07            Current  Central     Loan Payment

    Transaction_Amount  Account_Balance
0               985.51          6839.59
2              3363.85         12428.67
3              1914.60          5776.63
7              2346.72         10708.85
13             4683.64          6762.43
17             4116.52          9785.64

In [65]:
uptown_transactions = banking_data[banking_data['Branch'] == 'Uptown']
print(uptown_transactions)

          Date   Account_Type  Branch Transaction_Type  Transaction_Amount  \
1   2023-01-16        Current  Uptown       Withdrawal              641.43
2   2023-01-10        Current  Uptown     Loan Payment             3363.85
3   2023-01-18        Savings  Uptown     Loan Payment             1914.60
12  2023-01-15  Fixed Deposit  Uptown   Service Charge             1225.50

    Account_Balance
1           8908.39
2          12428.67
3           5776.63
12          4224.47

Assignment-2 Data Transformation

In [ ]:
Add a new column called Transaction_Fee, calculated as 2% of Transaction_Amount.
Create a new column Balance_Status:
If Account_Balance is greater than 5000, label it as "High Balance".
Otherwise, label it as "Low Balance".

In [71]:
banking_data['Transaction_Fee'] = banking_data['Transaction_Amount'] * 0.02
print(banking_data[['Transaction_Amount', 'Transaction_Fee']].head())

   Transaction_Amount  Transaction_Fee
0              985.51          19.7102
1              641.43          12.8286
2             3363.85          67.2770
3             1914.60          38.2920
4             2788.57          55.7714

In [73]:
banking_data['Balance_Status'] = banking_data['Account_Balance'].apply(lambda x: 'High Balance' if x > 5000 else 'Low Balance')
print(banking_data[['Account_Balance', 'Balance_Status']].head())

   Account_Balance Balance_Status
0          6839.59   High Balance
1          8908.39   High Balance
2         12428.67   High Balance
3          5776.63   High Balance
4          4779.04    Low Balance