#Data Filtering 
Extract all rows where sales are greater than 1000.Find all sales records for a specific region (e.g., "East").
Data Processing
Add a new column, Profit_Per_Unit, calculated as Profit / Quantity.
Create another column, High_Sales, which labels rows as Yes if Sales > 1000, else No.

In [35]:
import pandas as pd
Day_8_sales_data = pd.read_csv('Day_8_sales_data.csv')
print(Day_8_sales_data.head())

         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4

In [37]:
high_sales_data = Day_8_sales_data[Day_8_sales_data['Sales'] > 1000]
print(high_sales_data)

          Date     Product Region    Sales  Profit  Quantity
0   2023-01-02      Tablet   East  1061.81  236.12         7
1   2023-01-06      Laptop  North  1926.07  246.34         8
2   2023-01-03      Tablet   East  1597.99  253.17         3
3   2023-01-20      Tablet  North  1397.99  242.23         1
7   2023-01-07  Smartphone   East  1799.26  364.97         4
8   2023-01-11  Smartphone   West  1401.67  306.24         2
9   2023-01-01      Laptop  North  1562.11  170.72         6
11  2023-01-12      Laptop   West  1954.86  262.16         4
12  2023-01-09     Monitor  North  1748.66  197.62         6
17  2023-01-18     Monitor   West  1287.13  153.86         7
18  2023-01-13      Tablet   West  1147.92  271.88         9

In [39]:
east_sales_data = Day_8_sales_data[Day_8_sales_data['Region'] == 'East']
print(east_sales_data)

          Date     Product Region    Sales  Profit  Quantity
0   2023-01-02      Tablet   East  1061.81  236.12         7
2   2023-01-03      Tablet   East  1597.99  253.17         3
6   2023-01-14    Keyboard   East   587.13   82.16         8
7   2023-01-07  Smartphone   East  1799.26  364.97         4
14  2023-01-08      Laptop   East   772.74  226.51         2

In [41]:
Day_8_sales_data['Profit_Per_Unit'] = Day_8_sales_data['Profit'] / Day_8_sales_data['Quantity']
print(Day_8_sales_data[['Product', 'Profit_Per_Unit']].head())

  Product  Profit_Per_Unit
0  Tablet        33.731429
1  Laptop        30.792500
2  Tablet        84.390000
3  Tablet       242.230000
4  Laptop        35.090000

In [43]:
Day_8_sales_data['High_Sales'] = Day_8_sales_data['Sales'].apply(lambda x: 'Yes' if x > 1000 else 'No')
print(Day_8_sales_data[['Product', 'Sales', 'High_Sales']].head())

  Product    Sales High_Sales
0  Tablet  1061.81        Yes
1  Laptop  1926.07        Yes
2  Tablet  1597.99        Yes
3  Tablet  1397.99        Yes
4  Laptop   734.03         No