Assignment-1 Data Exploration

Load the banking_data.csv file using Pandas.
Display the first 5 rows of the dataset.
Use .describe() to generate basic statistics of the numerical columns (e.g., Transaction_Amount, Account_Balance).
Check for missing values in the dataset.

In [45]:
import pandas as pd
banking_data = pd.read_csv('banking_data.csv')
print(banking_data.head())

         Date       Account_Type    Branch Transaction_Type  \
0  2023-01-19      Fixed Deposit   Central     Loan Payment
1  2023-01-16            Current    Uptown       Withdrawal
2  2023-01-10            Current    Uptown     Loan Payment
3  2023-01-18            Savings    Uptown     Loan Payment
4  2023-01-14  Recurring Deposit  Suburban     Loan Payment

   Transaction_Amount  Account_Balance
0              985.51          6839.59
1              641.43          8908.39
2             3363.85         12428.67
3             1914.60          5776.63
4             2788.57          4779.04

In [47]:
print(banking_data.describe())

       Transaction_Amount  Account_Balance
count           20.000000        20.000000
mean          2705.829500      7967.766500
std           1429.829787      2770.248821
min            641.430000      2592.160000
25%           1482.085000      6460.127500
50%           2567.645000      7905.275000
75%           4121.525000      9127.702500
max           4683.640000     12836.510000

In [49]:
print(banking_data.isnull().sum())

Date                  0
Account_Type          0
Branch                0
Transaction_Type      0
Transaction_Amount    0
Account_Balance       0
dtype: int64

Assignment-2 Data Aggregation and Grouping

Group the data by Account_Type and calculate:
The total sum of Transaction_Amount.
The average Account_Balance for each account type.
Group the data by Branch and calculate:
The total number of transactions per branch.
The average transaction amount per branch.

In [51]:
total_transaction_by_account_type = banking_data.groupby('Account_Type')['Transaction_Amount'].sum()
print(total_transaction_by_account_type)

Account_Type
Current              15052.57
Fixed Deposit        14102.59
Recurring Deposit    15179.99
Savings               9781.44
Name: Transaction_Amount, dtype: float64

In [53]:
average_balance_by_account_type = banking_data.groupby('Account_Type')['Account_Balance'].mean()
print(average_balance_by_account_type)

Account_Type
Current              9893.404000
Fixed Deposit        6120.380000
Recurring Deposit    7627.283333
Savings              9134.110000
Name: Account_Balance, dtype: float64

In [55]:
transactions_per_branch = banking_data.groupby('Branch').size()
print(transactions_per_branch)# Group by Branch and count the number of transactions

Branch
Central     8
Downtown    3
Suburban    5
Uptown      4
dtype: int64

In [57]:
average_transaction_per_branch = banking_data.groupby('Branch')['Transaction_Amount'].mean()
print(average_transaction_per_branch)

Branch
Central     2942.338750
Downtown    3188.703333
Suburban    2773.278000
Uptown      1786.345000
Name: Transaction_Amount, dtype: float64